{%extends "master.html"%}
{% load static %}
{%block content%}

<div class="container-fluid" style="text-align: center;" >
<h1 style="text-align: center;color: greenyellow;margin-top: 120px;" >Wellcome {{user.name}}</h1>
<h3 style="text-align: left;margin-top: 50px;" ><strong>INSTRUCTIONS</strong></h3>
<h5 style="text-align: left;margin-top: 30px;" > &#8226; There are total 50 questions (25 Aptitute + 25 Technical)</h5>
<h5 style="text-align: left;" > &#8226; Each question carries <strong style="color: red;">Two</strong> marks. No negative marking for wrong answers</h5>
<h5 style="text-align: left;" > &#8226; Questions are of Multiple Choice </h5>
<h5 style="text-align: left;" > &#8226; You Need <strong style='color: red'>Minimum 60 Marks</strong> to Pass this Test</h5>
<h5 style="text-align: center;margin-top: 40px;" >BEST OF LUCK!!!</h5>


<a href="" class="btn btn-success" style="margin-top: 40px;text-align: center;" 
id = 'startTest' onclick="redirectToTest()">Start Quiz</a>
</div>

<script>
    function redirectToTest(){
        
        localStorage.removeItem('timer');
        var a = document.getElementById('startTest'); 
        a.href = "/quizquestions/";
        
    }
</script>


{% endblock %}